@import url(./reset.css);

* {
    list-style-type: none;
    text-decoration: none;
}

html {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url(../imagenes/background\(BODY\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#index-body{
    background-image: url(../imagenes/background\(BODY\)1.jpg);
}

/* estilos para problemas-al-iniciar.html y index.html */
#index-main {
    background-color: rgba(0, 0, 0, 0.84);
    width: 1100px;
    height: 560px;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px gray;
    border: 1px solid white;
}

#inicio-de-sesion {
    width: 50%;
}

.cara-de-jes {
    width: 40%;
    border-right: 1px solid #FFC93D;
}

.cara-de-jes img {
    max-width: 287px;
    max-height: 260px;

}

.cara-de-jes h2 {
    font-size: 40px;
}

.cara-de-jes h3 {
    font-size: 30px;
}

.cara-de-jes h2, .cara-de-jes h3 {
    margin-right: 60px;
}

.cara-de-jes-contenedor {
    transform: translateY(-20px);
}

#inicio-de-sesion h1 {
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#inicio-de-sesion form{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cara-de-jes-contenedor{
    width: 100%;
    height: 80%;
    text-align: center;
}

.cara-de-jes img {
    transform: translateX(-40px);
}

#id, #id:focus, #id:active, 
#password, #password:active, #password:focus {
    width: 320px;
    height: 45px;
    border-radius: 10px;
    padding-left: 60px;
    position: relative;
    border: 1px solid #ffc83d2d;
    background-color: #00000054;
    font-size: 16px;
    color: white;
}

#introducir-id figure {
    position: absolute;
    z-index: 1;
    width: 60px;
    height: 60px;
    border-radius: inherit;
    transform: translateX(-20px);
}

#introducir-id img {
    width: 60%;
    transform: translateY(-10px) translateX(-5px);
}

#iniciar-sesion {
    padding: 14px 46px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #ffc83d48;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 5%;
}

#iniciar-sesion:hover {
    border-color: #FFC93D;
    transition: all 0.5s;
}

#introducir-contraseña img {
    position: absolute;
    z-index: 1;
    width: 35px;
    height: 40px;
    border-radius: inherit;
    transform: translateX(-25px) translateY(5px);
}

/* ------------------------------------------------------------------------------------- */

/* Pantallas emergentes con sweetAlertm, estilos: */
.emergente-class {
    background-color: #000000d2;
    /* backdrop-filter: blur(30px); */
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.123);
}

.classes-eme {
    width: 200px;
}

.confirm-eme {
    background-color: black;
    border: 1px solid #FFC93D;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
}

.confirm-eme:hover {
    background-color: #ffc83d4f;
    border: none;
}

.container-eme {
    backdrop-filter: blur(35px);
}

.conta-eme {
    backdrop-filter: blur(10px);
}

/* MENU NAVEGADOR EMERGENTE */
.menu-navegador-eme * {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}

.menu-navegador-eme a {
    border: none;
    color: #FFC93D;
}

/* ------------------------------------------------------------------------------------- */

header {
    text-align: center;
}

.jes-titulo {
    color: white;
}

.header-container {
    background-color: rgba(0, 0, 0, 0.179);
    backdrop-filter: blur(20px) saturate(150%);
    /* border: 1px solid #ffc83d22; */
    border: 1px solid #ffffff25;
    border-radius: 7px;
    height: 60px;
    padding: 10px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}

.nav-container {
    /* background-color: aqua; */
    width: 20%;
}

.nav-container ul {
    display: flex;
}

.nav-perfil, .nav-menu {
    width: 60px;
    position: relative;
    left: 70px;
}

/* ----------------------------------------------------- */
.nav-container img {
    object-fit: cover;
}

.nav-perfil figure, .nav-perfil img, .nav-menu figure, .nav-menu img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.jesIMG-container img {
    width: 60px;
    height: 60px;
}

/* ------------------------------------------------------------------------------------- */

.section-top-container {
    background-color: rgba(0, 0, 0, 0.179);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    display: flex;
    height: 150px;    
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
    width: 90%;
    justify-content: space-evenly;
    border: 1px solid #ffffff25;
}

/* ------------------------------------------------------------------------------------- */

.section-top-container article {
    color: white;
    display: flex;
    width: 33%;
}

/* .section-top-container article:nth-of-type(1),  */

.section-top-container article:nth-of-type(2) {
    /* border-right: 2px solid #ffc83d22; */
    border-right: 2px solid #ffffff26; 
    border-left: 2px solid #ffffff26; 
}

/* ------------------------------------------------------------------------------------- */


.material-container a, .calendario-container a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.material-container figure, .material-container img, .calendario-container figure, .calendario-container img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    order: 1;
}

/* ------------------------------------------------------------------------------------- */
.calendario-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------------------------------------------------------------------- */
.asistencia-art-container {
    display: block;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.asistencia-h {
    text-align: center;
}

.asistencia-h h3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.793);
    padding-bottom: 2px;
    color: #ffc83da1;
}

.asistencia-art-container .barra-circular {
    width: 80px;
    height: 80px;
    position: relative;
    display: block;
}

.barra-circular svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.barra-circular circle {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
}

.barra-circular .background-circular {
    stroke: #ccc;
}

.barra-circular .progreso-circular {
    stroke: #ffc83daa;
    stroke-dasharray: 0 100;
    stroke-dashoffset: 0;
}

.barra-circular .porcentaje {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

/* ------------------------------------------------------------------------------------- */

.ca-ho-section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.ca-ho-botones {
    width: 100%;
    margin: 0 auto;
    /* background: #000; */
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #0000003a;
    backdrop-filter: blur(20px) saturate(150%);
    padding: 10px 0;
    border-radius: 7px;
    border: 1px solid #ffffff25;
}

.ca-ho-botones * {
    background-color: transparent;
    border: 3px solid #ffc83d22;
    color: white;
    width: 140px;
    padding: 10px 0;
    border-radius: 5px;
}

.ca-ho-botones *:hover {
    background-color: #ffc83d22;
}

.btn-selected {
    background-color: #ffc83d22;
}


/* -------------------------------------------------------------------------------------------- */
.ca-ho-container {
    overflow: hidden;
    /* background-color: #fff; */
}

.ca-ho-scroll {
    width: 806px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}

/* -------------------------------------------------------------------------------------------- */
/* E-CALIFICACIONES */

.tabla-calificacion th {
    height: 10px;
    background-color: #000;
    border-left: 1px solid rgba(255, 255, 255, 0.103);
}


.tabla-calificacion-centrar {
    min-width: 806px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 10px;
    height: 325px;
    padding-top: 10px;
}

.calificacion-centrar-p {
    margin-top: 0%;
}

.tabla-centrar {
    padding: 65px 0;
}

.tabla-calificacion {
    margin: 0 auto;
    color: #FFF;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.tabla-calificacion td, .tabla-calificacion th {
    min-width: 160px;
    padding: 20px 0;
    border-radius: inherit;
}

.tabla-calificacion td {
    background-color: rgba(0, 0, 0, 0.849);
    border-left: 1px solid rgba(255, 255, 255, 0.103);
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
    border-top: 1px solid rgba(255, 255, 255, 0.103);
}

.tabla-calificacion td:hover {
    background-color: #ffc83d60;
    backdrop-filter: blur(20px);
}

.tabla-registro {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
    border-radius: 15px;
    width: 1150px;
    height: 300px;
    text-align: center;
}

.tabla-registro th {
    height: 20px;
}

.tabla-registro td {
    background-color: #000;
    font-size: 14px;
    height: 50px;
}

.tabla-registro td img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}

.tabla-registro td .editar {
    width: 25px;
    height: 25px;
}
.tabla-cabecera th{
    color: #ffc83daa;
}

.botones-container {
    display: flex;
    height: 50px;
    width: 20%;
    justify-content: space-between;
    position: absolute;
    margin: 0 auto;
    margin-top: 20px;
    left: 40%;
    background-color: #00000068;
    backdrop-filter: blur(15px);
    border-radius: 5px;
    z-index: 0;
}

.botones-container * {
    padding: 10px 10px;
    border: none;
    background-color: #000000d2;
    backdrop-filter: blur(5px);
    color: #ffc83db6;
    font-size: 16px;
    font-weight: bolder;
}

.botones-container *:hover {
    color: #fff;
    background-color: #ffc83d60;
}

#scroll-izquierdo {
    border-radius: 5px 0 0 5px;
}

#scroll-derecho {
    border-radius: 0 5px 5px 0;
}
/* Tabla horario central */
/* ------------------------------------------------------------------------------------- */
.tabla-horario-centrar {
    height: auto;
    min-width: 806px;
    position: relative;
}

.tabla-horario {
    border-radius: 5px;
    overflow: hidden;
}

/* Aqui termina las tablas horario y calificaciones */
/* ------------------------------------------------------------------------------------- */

.modal-perfil {
    position: relative;
    min-width: 60%;
    min-height: 480px;
    padding: 0 50px;
    background-color: rgba(0, 0, 0, 0.547);
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.262);
    display: flex;
    margin: 0 auto;
}

.perfil-izquierda  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
}

.perfil-izquierda  figure {
    padding-bottom: 25px;
    border-bottom: 2px solid white;
}

.perfil-izquierda {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.titulo-perfil {
    font-size:20px;
    color: #ffc83daa;
}

.perfil-izquierda-abajo h6 {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 2px;
}

.perfil-izquierda-abajo h4 {
    font-size: 20px;
    transform: translateX(-4px);
}

/* ------------------------------------------------------------------------------------- */

.perfil-derecho {
    width: 60%;
    height: 80%;
}

.perfil-derecha-arriba {
    width: 80%;
    height: 60px;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
    margin: 0 auto;
    padding-top: 20px;
    text-align:start;
}

.perfil-derecha-arriba h2, .perfil-derecha-arriba p {
    margin-left: 20px;
}

.perfil-derecho .datos {
    width: 60%;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    margin-left: 10%;
}

.perfil-derecho .datos1 {
    margin-top: 10%;
}

.perfil-derecho .datos h3 {
    font-size: 18px;
    /* color: #ffc83daa; */
    color: #ccc;
    margin-bottom: 4px;
}

.perfil-derecho .datos p {
    font-size: 16px;
}

.perfil-cerrar-sesion {
    position: absolute;
    bottom: 20px;
    right: 25%;
    padding: 10px 40px;
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.184);
    border-bottom: 1px solid #ffffff4c;
}

.perfil-cerrar-sesion:hover::before {
    content: url(../imagenes/iconos/salir2.svg);
    position: relative;
    right:10px;
    top: 3px;
}

.perfil-cerrar-sesion:hover {
    background-color: #ffc83d3a;
    border: 1px solid #ffc83d3a;
    border-radius: 10px;
    color: #fff;
    transition:ease 1s;
}

.modals-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #00000036;
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    z-index: 3;
    display: none;
}

.modals-container::after{
    content: url(../imagenes/iconos/equis.svg);
    position: absolute;
    top: 5%;
    right: 5%;
}

/* ADMIN */

.main-container-admin {
    height: 500px;
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.seg-admin {
    background-color: #ffffff1a;
    backdrop-filter: blur(10px);
    color: #FFF;
    height: 150px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .seg-admin a {
    color: #FFF;
} */

.seg-admin img {
    height: 50px;
}

.seg-admin figure {
    width: 200px;
    height: 100px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seg-admin figcaption {
    color: rgba(255, 255, 255, 0.7);
}

.seg-admin:hover {
    transition: all .7s;
    /* background-color: rgba(255, 255, 255, 0.3); */
    background-color: #0000000a;
}

.seg-admin-estudiantes, .seg-admin-profesores {
    width: 0;
    flex-basis: 42.7%;
}

/* Tabla de registro */

.tabla-registro {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
    border-radius: 5px;
    width: 60%;
    height: 300px;
    text-align: center;
    border-collapse: collapse;
}

.tabla-registro th {
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.tabla-registro td {
    background-color: #000;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    height: 40px;
}

.tabla-registro td img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}

/* TABLA PARA CONTROLAR ASISTENCIAS */

.tabla-asistencia {
    background-color: #00000025;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px #0005;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 40px;
    border-collapse: collapse;
    width: 80%;
    height: 50%;
    overflow: hidden;
    overflow-y: scroll;
}

.tabla-asistencia tr:nth-child(even) {
    background-color: #00000036;
}

.tabla-asistencia tr:hover {
    background-color: #FFF2;
}

.tabla-asistencia td {
    color: #FFF;
    height: 50px;
    width: 100px;
    text-align: center;
}

.tabla-asistencia td input {
    color: #FFF;
    background: none;
    text-align: center;
    width: 100px;
    height: 50px;
    border: none;
}

.tabla-asistencia th {
    color: #ffc83d73;
    text-align: center;
    width: 100px;
    padding: 10px;
}

.tabla-intercambiable {
    background-color: #00000025;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 8px #0005;
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
    height: 500px;
    overflow: auto;
}

.tabla-intercambiable::-webkit-scrollbar {
    width: 10px;
    height: 80px;
}

.tabla-intercambiable::-webkit-scrollbar-thumb {
    background-color: #FFF4;
    border-radius: 20px;
}

.botones_tabla-container {
    display: flex;
    justify-content: space-between;
}

.botones-container1 {
    width: 350px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botones-container1 a {
    color: #FFF;
    height: 40px;
    width: 150px;
    border: 1px solid #ffc83d44;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabla-intercambiable table {
    margin-top: 20px;
    margin: 0 auto;
    color: #FFF;
    width: 100%;
    height: fit-content;
    padding-bottom: 5px;
}

.tabla-intercambiable table tr {
    background-color: #d9d9d93d;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tabla-intercambiable table tr:hover {
    background-color: rgba(255, 255, 255, 0.493);
}

.tabla-intercambiable table tr:nth-child(even) {
    background-color: #00000036;
}