@import url(./reset.css);

html {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url(../imagenes/background\(BODY\).jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
}

body img {
    width: 40px;
}

.header-container {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px) saturate(150%);
    height: 60px;
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo-jes-container {
    width: 60px;
    height: 60px;
}

.logo-jes-container img {
    width: 100%;
}

.jes-nom-container {
    text-align: center;
}

.jes-nom-container h2 {
    font-size: 22px;
}

.main-top-section {
    background-color: rgba(0, 0, 0, 0.43);
    border-radius: 10px;
    display: flex;
    height: 160px;    
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 26px;
    width: 80%;
    justify-content: space-between;
}

.main-top-section article {
    backdrop-filter: blur(30px);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.162);
    display: flex;
}

.identidad-art-container{
    border-radius: 5px 0 0 5px;
}

.calendario-container {
    flex-basis: 25%;
    border-radius: 0px 5px 5px 0px;
}

.asistencia-art-container, .identidad-art-container {
    flex-basis: 37%;
}

.asistencia-art-container .barra-circular {
    width: 100px;
    height: 100px;
}

.cursos-container {
    background-color: rgba(0, 0, 0, 0.43);
    width: 90%;
    height: 190px;
    /* border: 1px solid white; */
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.material-container{
    min-width: 200px;
    height: 140px;
    margin: 0 1%;
    margin-top: 16px;
    color: white;
    text-align: center;
    backdrop-filter: blur(40px);
    padding-bottom: 5px;
    box-shadow: 1px 1px rgba(128, 128, 128, 0.134), inset 1px 1px 2px rgba(128, 128, 128, 0.134);
    overflow: hidden;
}

.material-enlace, .material-enlace figure {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    transform: translateY(-5px);
}

.material-enlace img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fondo-material-container{
    height: 70%;
    width: 100%;
    position: relative;
    margin: 0;
    margin-bottom: 14px;
}

.fondo-material-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
  position: absolute;
  color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay:hover {
    transition: backdrop-filter 0.5s, transform 0.5s;
    backdrop-filter: blur(10px);
    color: white;
}


.linea-material {
    width: 40px;
    color: white;
}

.cursos-h {
    position: absolute;
    top: 0;
    /* right: 45%; */
    left: auto;
    color: #ffc83d5e;
}