@import url(./reset.css);

html {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url(../imagenes/background\(BODY\).jpg);
    /* background-color: #000; */
    background-repeat: no-repeat;
    background-size: cover;
}

.body-container {
    /* width: 100%; */
    /* min-height: 100%; */
}

#index-body{
    background-image: url(../imagenes/background\(BODY\)1.jpg);
}

/* estilos para problemas-al-iniciar.html y index.html */
#index-main {
    background-color: rgba(0, 0, 0, 0.84);
    width: 1100px;
    height: 560px;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px gray;
    border: 1px solid white;
}

#inicio-de-sesion {
    width: 50%;
}

.cara-de-jes {
    width: 40%;
    border-right: 1px solid #FFC93D;
}

.cara-de-jes img {
    max-width: 287px;
    max-height: 260px;

}

.cara-de-jes h2 {
    font-size: 40px;
}

.cara-de-jes h3 {
    font-size: 30px;
}

.cara-de-jes h2, .cara-de-jes h3 {
    margin-right: 60px;
}

.cara-de-jes-contenedor {
    transform: translateY(-20px);
}

#inicio-de-sesion h1 {
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#inicio-de-sesion form{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cara-de-jes-contenedor{
    width: 100%;
    height: 80%;
    text-align: center;
}

.cara-de-jes img {
    transform: translateX(-40px);
}

#id, #id:focus, #id:active, 
#password, #password:active, #password:focus {
    width: 320px;
    height: 45px;
    border-radius: 10px;
    padding-left: 60px;
    position: relative;
    border: 1px solid #ffc83d2d;
    background-color: #00000054;
    font-size: 16px;
    color: white;
}

#introducir-id figure {
    position: absolute;
    z-index: 1;
    width: 60px;
    height: 60px;
    border-radius: inherit;
    transform: translateX(-20px);
}

#introducir-id img {
    width: 60%;
    transform: translateY(-10px) translateX(-5px);
}

#iniciar-sesion {
    padding: 14px 46px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #ffc83d48;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 5%;
}

#iniciar-sesion:hover {
    border-color: #FFC93D;
    transition: all 0.5s;
}

#introducir-contraseña img {
    position: absolute;
    z-index: 1;
    width: 35px;
    height: 40px;
    border-radius: inherit;
    transform: translateX(-25px) translateY(5px);
}

/* ------------------------------------------------------------------------------------- */

/* Pantallas emergentes con sweetAlertm, estilos: */
.emergente-class {
    background-color: #000000d2;
    /* backdrop-filter: blur(30px); */
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.123);
}

.confirm-eme {
    background-color: black;
    border: 1px solid #FFC93D;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
}

.confirm-eme:hover {
    background-color: #ffc83d4f;
    border: none;
}

.container-eme {
    backdrop-filter: blur(35px);
}

.conta-eme {
    backdrop-filter: blur(10px);
}

/* MENU NAVEGADOR EMERGENTE */
.menu-navegador-eme * {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}

.menu-navegador-eme a {
    border: none;
    color: #FFC93D;
}

/* ------------------------------------------------------------------------------------- */

.classes-eme {
    width: 40%;
    height: 50%;
    background-color: transparent;
}

.a-eme {
    /* color: #ffc83d63; */
    color: #FFF;
    text-decoration: none;
}

.cerrar-eme::before {
    content: url('../imagenes/iconos/salir2.svg');
    position: relative;
    right: 5px;
    top: 5px;
}

.cerrar-eme:hover {
    color: red;
    transition:all 0.5s;
}


.li-eme {
    margin: 10px 0;
}

/* ------------------------------------------------------------------------------------- */

header {
    text-align: center;
    border-bottom: 1px solid #ffc83d22;
}

.jes-titulo {
    color: white;
    position: relative;
    left: 4%;
}

.header-container {
    background-color: transparent;
    backdrop-filter: blur(20px);
    height: 60px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    /* background-color: aqua; */
    width: 20%;
}

.nav-container ul {
    display: flex;
}

.nav-perfil, .nav-menu {
    width: 60px;
    position: relative;
    left: 70px;
    margin-right: 10px;
}
/* ----------------------------------------------------- */
.nav-container img {
    object-fit: cover;
}

.nav-container a {
    width: 100%;
    height: 100%;
}

.nav-perfil figure, .nav-perfil img, .nav-menu figure, .nav-menu img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 auto;
}

.jesIMG-container img {
    width: 60px;
    height: 60px;
}

/* ------------------------------------------------------------------------------------- */

.section-top-container {
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    display: flex;
    height: 150px;    
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
    width: 80%;
    justify-content: space-evenly;
    border: 1px solid #ffc83d22;
}

/* ------------------------------------------------------------------------------------- */

.section-top-container article {
    color: white;
    display: flex;
    width: 33%;
}

/* .section-top-container article:nth-of-type(1),  */

.section-top-container article:nth-of-type(2) {
    /* border-right: 2px solid #ffc83d22; */
    border-right: 2px solid #ffc83d22; 
    border-left: 2px solid #ffc83d22;
}

/* ------------------------------------------------------------------------------------- */


.material-container a, .calendario-container a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.material-container figure, .material-container img, .calendario-container figure, .calendario-container img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    order: 1;
}

/* ------------------------------------------------------------------------------------- */
.calendario-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------------------------------------------------------------------- */
.asistencia-art-container {
    display: block;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.asistencia-h {
    text-align: center;
}

.asistencia-h h3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.793);
    padding-bottom: 2px;
    color: #ffc83da1;
}

.asistencia-art-container .barra-circular {
    width: 80px;
    height: 80px;
    position: relative;
    display: block;
}

.barra-circular svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.barra-circular circle {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
}

.barra-circular .background-circular {
    stroke: #ccc;
}

.barra-circular .progreso-circular {
    stroke: #ffc83daa;
    stroke-dasharray: 0 100;
    stroke-dashoffset: 0;
}

.barra-circular .porcentaje {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

/* ------------------------------------------------------------------------------------- */

.ca-ho-section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.ca-ho-botones {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;
    /* background-color: transparent;
    backdrop-filter: blur(20px); */
    /* border-radius: 7px;
    border: 1px solid #ffc83d22;  */
}

.ca-ho-botones * {
    background-color: transparent;
    border: 3px solid #ffc83d22;
    color: white;
    width: 140px;
    padding: 10px 0;
    border-radius: 5px;
}

.ca-ho-botones *:hover {
    background-color: #ffc83d22;
}

.btn-selected {
    background-color: #ffc83d22;
}


/* -------------------------------------------------------------------------------------------- */
.ca-ho-container {
    overflow: hidden;
    /* background-color: #fff; */
}

.ca-ho-scroll {
    width: 966px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}

/* -------------------------------------------------------------------------------------------- */
/* E-CALIFICACIONES */

.tabla-calificacion th {
    height: 10px;
    background-color: #000;
    border-left: 1px solid rgba(255, 255, 255, 0.103);
}


.tabla-calificacion-centrar {
    min-width: 966px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 10px;
    height: 325px;
}

.calificacion-centrar {
    padding-top: 20px;
}

.tabla-calificacion {
    margin: 0 auto;
    color: #FFF;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.tabla-calificacion td, .tabla-calificacion th {
    min-width: 160px;
    padding: 20px 0;
    border-radius: inherit;
}

.tabla-calificacion td {
    background-color: rgba(0, 0, 0, 0.849);
    border-left: 1px solid rgba(255, 255, 255, 0.103);
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
    border-top: 1px solid rgba(255, 255, 255, 0.103);
}

.tabla-calificacion td:hover {
    background-color: #ffc83d60;
    backdrop-filter: blur(20px);
}

.tabla-cabecera th{
    color: #ffc83daa;
} 

.botones-container {
    display: flex;
    height: 50px;
    width: 20%;
    justify-content: space-between;
    position: absolute;
    margin: 0 auto;
    margin-top: 20px;
    left: 40%;
    background-color: #00000068;
    backdrop-filter: blur(15px);
    border-radius: 5px;
    z-index: 0;
}

.botones-container * {
    padding: 10px 10px;
    border: none;
    background-color: #000000d2;
    backdrop-filter: blur(5px);
    color: #ffc83db6;
    font-size: 16px;
    font-weight: bolder;
}

.botones-container *:hover {
    color: #fff;
    background-color: #ffc83d60;
}

#scroll-izquierdo {
    border-radius: 5px 0 0 5px;
}

#scroll-derecho {
    border-radius: 0 5px 5px 0;
}
/* Tabla horario central */
/* ------------------------------------------------------------------------------------- */
.tabla-horario-centrar {
    height: auto;
    min-width: 966px;
    position: relative;
}

.tabla-horario {
    border-radius: 5px;
    overflow: hidden;
}

/* Aqui termina las tablas horario y calificaciones */
/* ------------------------------------------------------------------------------------- */

.modal-perfil {
    position: relative;
    min-width: 60%;
    min-height: 480px;
    padding: 0 50px;
    background-color: rgba(0, 0, 0, 0.547);
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.262);
    display: flex;
    margin: 0 auto;
}

.perfil-izquierda  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
}

.perfil-izquierda  figure {
    padding-bottom: 25px;
    border-bottom: 2px solid white;
}

.perfil-izquierda {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.titulo-perfil {
    font-size:20px;
    color: #ffc83daa;
}

.perfil-izquierda-abajo h6 {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 2px;
}

.perfil-izquierda-abajo h4 {
    font-size: 20px;
    transform: translateX(-4px);
}

/* ------------------------------------------------------------------------------------- */

.perfil-derecho {
    width: 60%;
    height: 80%;
}

.perfil-derecha-arriba {
    width: 80%;
    height: 60px;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
    margin: 0 auto;
    padding-top: 20px;
    text-align:start;
}

.perfil-derecha-arriba h2, .perfil-derecha-arriba p {
    margin-left: 20px;
}

.perfil-derecho .datos {
    width: 60%;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    margin-left: 10%;
}

.perfil-derecho .datos1 {
    margin-top: 10%;
}

.perfil-derecho .datos h3 {
    font-size: 18px;
    /* color: #ffc83daa; */
    color: #ccc;
    margin-bottom: 4px;
}

.perfil-derecho .datos p {
    font-size: 16px;
}

/* ------------------------------------------------------------------------------------- */

.modals-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #00000036;
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    z-index: 3;
    display: none;
}

.modals-container::after{
    content: url(../imagenes/iconos/equis.svg);
    position: absolute;
    top: 5%;
    right: 5%;
}

/* -------------------------------------------------------------------------------------- */

#modal-recordatorio {
    width: 50%;
    height: 50%;
    background-color: #00000043;
    border-radius: 10px;
    border: 1px solid #ffffff2d;
    margin: 0 auto;
}

#calendar-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#calendar-header {
    color: #ffc83d7d;
    /* background-color: #fff; */
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
}

#calendar-header button {
    background-color: transparent;
    color: white;
    border: 1px solid #ffc83d33;
    padding: 5px 10px;
}

#calendar-header button:nth-of-type(1) {
    border-radius: 5px 0 0 5px;
}

#calendar-header button:nth-of-type(2) {
    border-radius:0 5px 5px 0;
}

#calendario {
    /* background-color: #ffffff11; */
    width: 60%;
    height: 60%;
    text-align: justify;
}

#calendario thead {
    color: #fff;
}

#calendario tbody {
    color: #ffc83d4f;
}

/* ------------------------------------------------------------------------------------- */

.section-materiales {
    width: 90%;
    height: 620px;
    margin: 0 auto;
    margin-top: 10px;
    /* background-color: rgba(0, 0, 0, 0.226); */
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 5px;
    margin-top: 1%;
}

.titulo-materiales {
    width: 80%;
    padding: 5px 0;
    text-align: justify;
    /* color: #ffc83d; */
    color: white;
    margin: 0 auto;
}

.material-estudio {
    max-width: 30%;
    height: 200px;
    border: 1px solid #ffc83d27;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
}

.contenedor-material {
    display: flex;
    flex-direction: row;
}

.material-estudio figure {
    flex-basis: 50%;
    margin: 0 auto;
}

.material-estudio img {
    width: 100%;
    height: 99%;
    object-fit: cover;
}
.contenido-material {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    height:100%;
    background-color: #00000013;
}

.contenedor-material a{
    text-decoration: none;
    /* color: #ffc83d5e; */
    color: #ffc83db6;
    /* margin-left: 10%; */
    text-align: center;
}

.contenedor-material a:hover {
    text-decoration: underline;
}

.contenedor-material a:hover::before{
    content: url(../imagenes/iconos/enlace-horizontal.svg);
    position: relative;
    right: 5px;
    top: 5px;
}

.contenido-material {
    text-align: center;
    width: 60%;
}

.contenido-material h3 {
    color: #ffc83db6;
}

.contenido-material p {
    width: 90%;
    margin: 0 auto;
    text-align: start;
    position: relative;
    bottom: 6%;
}

/* ----------------------------------------------------------- */

.materia-clases-elegir {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 1%;
}

.materia-clases-elegir select{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 10px;
}


.imagen-de-fondo-curso {
    width: 98%;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;    
    position: relative;
    right: 1%;
    margin-bottom: 1.4%;
    border: 1px solid rgba(255, 255, 255, 0.145);
}

.imagen-de-fondo-curso figure {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.imagen-de-fondo-curso img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    opacity: 0.7;
}

.imagen-de-fondo-curso figcaption {
    position: absolute;
    top: 40%;
    left: 45%;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

/* ------------------------------------------------- */

.curso-material-container{
    width: 100%;
    margin: 0 auto;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 5px;
}

.main-curso-material {    
    margin: 0 auto;
    margin-top: 3%;
    width: 80%;

}

/* ---------------------------------------------------------- */
.c-curso-izquierdo {
    /* background: #000; */
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    min-width: 20%;
}

.curso-descargar {
    border: 1px solid #ffffff45;
    height: 40%;
    backdrop-filter: blur(20px);
    background-color: #00000049;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.curso-descargar a {
    color: #ffc83da2;
    text-decoration: none;
    padding: 4px 15px;
    border-radius: 5px;
    border: 1px solid #ffffff33;
}

.curso-descargar a:hover {
    border: 1px solid #fff;
}

.curso-subir-tarea {
    height: 40%;
    border: 1px solid #ffffff45;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
    background-color: #00000049;
    overflow: hidden;
}

.curso-subir-tarea [type='file']{
    position: absolute;
    color: transparent;
    z-index: -3;
    left: 100%;
    display: none;
}

.botones-curso * {
    background-color: #00000049;
    backdrop-filter: blur(20px);
    color: #ffc83da2;
    border: 1px solid #ffffff48;
    width: 40%;
    padding: 5px 0;
}

.botones-curso [type='submit'] {
    border-radius: 5px 0 0 5px;
}

.botones-curso [type='reset'] {
    border-radius: 0 5px 5px 0;
}

.botones-curso {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* ---------------------------------------- */

.c-curso-central {
    /* border: 1px solid red; */
    max-width: 78%;
    background-color: #00000049;
    backdrop-filter: blur(20px);
    border: 1px solid #ffffff45;
    color: white;
}

.informacion-profesor-material {
    display: flex;
    width: 100%;
    align-items: center;
    color: #ffc83da2;
}

.informacion-profesor-material h3 {
    position: relative;
    right: 15px;
}

.profesor-material-span {
    margin-right: 5px;
    color: white;
}

.informacion-profesor-material img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.descripcion-material-curso {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    background-color: #ffffff08;
    padding: 20px;
    border-radius: 5px;
    margin-left: 10px;
}

.curso-main {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenedor-material-curso {
    display: flex;
    height: 100%;
}

.nav-c-enlaces {
    max-width: 15%;
    height: 60%;
    margin: auto 0;
}


.ul-c-enlaces img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.ul-c-enlaces {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ul-c-enlaces li {
    width: 100%;
    margin-left: 5px;
}

/* .ul-c-enlaces li:nth-of-type(1):before {
    content: 'Discord';
    position: relative;
    left: 20%;
}

.ul-c-enlaces li:nth-of-type(2):before {
    content: 'Classroom';
    position: relative;
    left: 18%;
    margin-top: 5px;
} */

/* ---------------------------------------- */
