<!DOCTYPE html>
<html>
<head>
  <title>Materiales de Estudio</title>
</head>
<body>
  <h1>Materiales de Estudio</h1>
  <ul>
    {% for material in materiales %}
      <li>
        {{ material.titulo }} (Curso {{ material.id_curso }})
        <ul>
          <li>Descripción: {{ material.descripcion }}</li>
          <li>Asignatura: {{ material.id_asignatura }}</li>
          <li>
            <a href="{{ url_for('descargar_material', id_material=material.id) }}">Descargar Material</a>
          </li>
        </ul>
      </li>
    {% endfor %}
  </ul>
</body>
</html>