<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../imagenes/recursos/logo-jes.png">
</head>
<body>
    <div class="body-container">
        <header>
            <div class="header-container">
                <figure class="jesIMG-container">
                    <img src="../imagenes/recursos/logo-jes.png" alt="JES-LOGO">
                </figure>            
                <div class="jes-titulo">
                    <h2>JES</h2>
                    <h3>Junior Explorers System</h3>                
                </div>
                <nav class="nav-container">
                    <ul>
                        <li class="nav-perfil">
                            <a href="#"><figure><img src="../imagenes/recursos/perfil-masculino-2.jpg" alt="perfil"></figure></a>
                        </li>
                        <li class="nav-menu">
                            <a href="#"><figure><img src="../imagenes/iconos/menu.svg" alt="menu"></figure></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <section class="main-container">
                <div class="cambiar-cursos-container">
                    <select name="seleccionar-cursos" id="cambiar-cursos">
                        <optgroup label="1ro">
                            <option value="">1ro - A</option>
                            <option value="">1ro - B</option>
                            <option value="">1ro - C</option>
                            <option value="">1ro - D</option>
                        </optgroup>
                        <optgroup label="2do">
                            <option value="">2do - A</option>
                            <option value="">2do - B</option>
                            <option value="">2do - C</option>
                            <option value="">2do - D</option>
                        </optgroup>
                        <optgroup label="3ro">
                            <option value="">3ro - A</option>
                            <option value="">3ro - B</option>
                            <option value="">3ro - C</option>
                            <option value="">3ro - D</option>
                        </optgroup>
                        <optgroup label="4to">
                            <option value="">4to - A</option>
                            <option value="">4to - B</option>
                            <option value="">4to - C</option>
                            <option value="">4to - D</option>
                        </optgroup>
                        <optgroup label="5to">
                            <option value="">5to - A</option>
                            <option value="">5to - B</option>
                            <option value="">5to - C</option>
                            <option value="">5to - D</option>
                        </optgroup>
                        <optgroup label="6to">
                            <option value="">6to - A</option>
                            <option value="">6to - B</option>
                            <option value="">6to - C</option>
                            <option value="">6to - D</option>
                        </optgroup>
                    </select>
                </div>
                <article class="mostrar-perfil">
                    <figure>
                        <img src="../imagenes/random-glasses-guy.jpeg" alt="foto de perfil">
                    </figure>
                    <div class="mostrar-perfil_info">
                        <p>Profesor Titular</p>
                        <p>Manuel Perez Maldonado</p>
                    </div>
                </article>
                <article class="header-cursos">
                    <div class="botones_tabla-container">
                        <div class="botones-container1">
                            <a href="#">Estudiantes</a>
                            <a href="#">Horario</a>
                        </div>
                        <div class="botones-container1">
                            <a href="#">Agregar Materias</a>
                            <a href="#">Profesores</a>
                        </div>
                    </div>
                </article>
                <article class="tabla-cursos-container">
                    <table class="tabla-cursos">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>
                            <th>Telefono</th>
                        </tr>
                        <tr>
                            <td>10012</td>
                            <td>Albiery</td>
                            <td>Rodriguez</td>
                            <td>albieryrf@gmail.com</td>
                            <td>809-781-9921</td>
                        </tr>
                        <tr>
                            <td>10013</td>
                            <td>Massiel</td>
                            <td>Rodriguez</td>
                            <td>massielrodriguez490@gmail.com</td>
                            <td>829-901-8892</td>
                        </tr>
                        <tr>
                            <td>10014</td>
                            <td>Esmeralda</td>
                            <td>Estrella</td>
                            <td>esme779@gmail.com</td>
                            <td>809-190-1103</td>
                        </tr>
                        <tr>
                            <td>10015</td>
                            <td>Milton</td>
                            <td>Valerio</td>
                            <td>miltonb1@gmail.com</td>
                            <td>849-176-1768</td>
                        </tr>
                        <tr>
                            <td>10016</td>
                            <td>Tiara</td>
                            <td>Peña</td>
                            <td>penatiara01@gmail.com</td>
                            <td>809-667-8372</td>
                        </tr>
                        <tr>
                            <td>10017</td>
                            <td>Smailyn</td>
                            <td>Burgos</td>
                            <td>smaburgos2003@gmail.com</td>
                            <td>829-124-7290</td>
                        </tr>
                        <tr>
                            <td>10018</td>
                            <td>Yohan</td>
                            <td>Perez</td>
                            <td>vivaelchipeo@gmail.com</td>
                            <td>809-281-4832</td>
                        </tr>
                        <tr>
                            <td>10019</td>
                            <td>Profesor</td>
                            <td>Profesor</td>
                            <td>Profesor</td>
                            <td>Profesor</td>
                        </tr>
                    </table>
                </article>
            </section>
        </main>
    </div>
    <script src="../js/promedio-calificacion.js"></script>
</body>
</html>