<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../templates/css/estilos.css">
</head>
<body>
    <div class="body-container">
        <header>
            <div class="header-container">
                <figure class="jesIMG-container">
                    <img src="../imagenes/recursos/logo-jes.png" alt="JES-LOGO">
                </figure>            
                <div class="jes-titulo">
                    <h2>JES</h2>
                    <h3>Junior Explorers System</h3>                
                </div>
                <nav class="nav-container">
                    <ul>
                        <li class="nav-perfil">
                            <a href="#"><figure><img src="../imagenes/recursos/perfil-masculino-2.jpg" alt="perfil"></figure></a>
                        </li>
                        <li class="nav-menu">
                            <a href="#"><figure><img src="../imagenes/iconos/menu.svg" alt="menu"></figure></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main-container">
            <section class="section-top-container">
                <article class="material-container">
                    <a href="#">
                        <figure class="material-figure"><img src="../imagenes/iconos/capas.svg" alt="perfil-estudiante"></figure>
                        <h2>Cursos</h2>                        
                    </a>
                </article>
                <article class="material-container">
                    <a href="registro.html">
                        <figure class="material-figure"><img src="../imagenes/iconos/capas.svg" alt="perfil-estudiante"></figure>
                        <h2>Registro</h2>                        
                    </a>
                </article>
                <article class="material-container">
                    <a href="#">
                        <figure class="material-figure"><img src="../imagenes/iconos/capas.svg" alt="perfil-estudiante"></figure>
                        <h2>Reportes</h2>                        
                    </a>
                </article>
            </section>
            <section class="ca-ho-section">
                <div class="ca-ho-botones">
                    <button class="btn-calificaciones btn-caho-active">Estudiantes</button>
                    <button class="btn-horario">Profesores</button>
                    <button class="btn-horario">Asistencia</button>
                    <button class="btn-horario">Materiales</button>
                </div>
                <div class="ca-ho-container">
                    <div class="ca-ho-scroll">   
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script src="../js/ca-ho.js"></script>
    <script src="../js/scroll_calificacion.js"></script>
</body>
</html>