<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../imagenes/recursos/logo-jes.png">
</head>
<body>
    <div class="body-container">
        <header>
            <div class="header-container">
                <figure class="jesIMG-container">
                    <img src="../imagenes/recursos/logo-jes.png" alt="JES-LOGO">
                </figure>            
                <div class="jes-titulo">
                    <h2>JES</h2>
                    <h3>Junior Explorers System</h3>                
                </div>
                <nav class="nav-container">
                    <ul>
                        <li class="nav-perfil">
                            <a href="#" class="li-perfil"><figure><img src="../imagenes/recursos/perfil-femenino.jpg" alt="perfil"></figure></a>
                        </li>
                        <li class="nav-menu">
                            <a href="#" class="menu"><figure><img src="../imagenes/iconos/menu.svg" alt="menu"></figure></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main-container">
            <section class="section-top-container">
                <article class="asistencia-art-container">
                    <div class="barra-circular" data-porcentaje="100">
                        <svg viewBox="0 0 33.83 33.83">
                            <circle class="background-circular" cx="16.92" cy="16.92" r="15.92"></circle>
                            <circle class="progreso-circular" cx="16.92" cy="16.92" r="15.92"></circle>
                        </svg>
                        <span class="porcentaje">100%</span>
                    </div>
                    <div class="asistencia-h">
                        <h3>Asistencia</h3>
                        <h4>General</h4>
                    </div>
                </article>
                <article class="material-container">
                    <a href="e-material_estudio.html">
                        <figure class="material-figure"><img src="../imagenes/iconos/capas.svg" alt="perfil-estudiante"></figure>
                        <h2>Material de tareas</h2>                        
                    </a>
                </article>
                <!-- calendario-container -->
                <article class="material-container">
                    <a href="e-refuerzo-libros.html">
                        <h2>Refuerzo de clase</h2> 
                        <figure><img src="../imagenes/iconos/formulario.svg" alt="refuerzo-de-clase-img"></figure>
                    </a>
                </article>
            </section>
            <section class="ca-ho-section">
                <div class="ca-ho-botones">
                    <button class="btn-calificaciones btn-caho-active">Calificaciones</button>
                    <button class="btn-horario">Horario</button>
                </div>
                <div class="ca-ho-container">
                    <div class="ca-ho-scroll">
                        <article class="tabla-calificacion-centrar calificacion-centrar">
                            <table class="tabla-calificacion">
                                <tr class="tabla-cabecera">
                                    <th>Calificaciones</th>
                                    <th>L. Española</th>
                                    <th>C. Sociales</th>
                                    <th>Naturales</th>
                                    <th>Ingles</th>
                                    <th>Frances</th>
                                    <th>italiano</th>
                                    <th>romano</th>
                                </tr>
                                <tr>
                                    <td class="calificacion">C1</td>
                                    <td>90</td>
                                    <td>100</td>
                                    <td>98</td>
                                    <td>95</td>
                                    <td>96</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td class="calificacion">C2</td>
                                    <td>90</td>
                                    <td>100</td>
                                    <td>98</td>
                                    <td>95</td>
                                    <td>96</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td class="calificacion">C3</td>
                                    <td>90</td>
                                    <td>100</td>
                                    <td>98</td>
                                    <td>95</td>
                                    <td>96</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td class="calificacion">C4</td>
                                    <td>90</td>
                                    <td>100</td>
                                    <td>98</td>
                                    <td>95</td>
                                    <td>96</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <td class="calificacion">C.Final</td>
                                    <td class="nota-final">90</td>
                                    <td class="nota-final">100</td>
                                    <td class="nota-final">98</td>
                                    <td class="nota-final">95</td>
                                    <td class="nota-final">96</td>
                                    <td class="nota-final">--</td>
                                    <td class="nota-final">--</td>
                                </tr>
                            </table>
                            <div class="botones-container">
                                <button id="scroll-izquierdo">&larr;</button>
                                <button id="scroll-derecho">&rarr;</button>
                            </div>
                        </article>
                        <article class="tabla-calificacion-centrar tabla-horario-centrar">
                            <table class="tabla-calificacion tabla-horario">
                                <tr class="tabla-cabecera">
                                    <th>Horas</th>
                                    <th>Lunes</th>
                                    <th>Martes</th>
                                    <th>Miércoles</th>
                                    <th>Jueves</th>
                                    <th>Viernes</th>
                                </tr>
                                <tr>
                                    <td>7:00</td>
                                    <td>Matemáticas</td>
                                    <td>L. Española</td>
                                    <td>Naturales</td>
                                    <td>Sociales</td>
                                    <td>Artes</td>
                                </tr>
                                <tr>
                                    <td>8:00</td>
                                    <td>Sociales</td>
                                    <td>Artes</td>
                                    <td>Ed. Física</td>
                                    <td>Matemáticas</td>
                                    <td>Naturales</td>
                                </tr>
                                <tr>
                                    <td>9:00</td>
                                    <td>RE</td>
                                    <td>C</td>
                                    <td>R</td>
                                    <td>E</td>
                                    <td>O</td>
                                </tr>
                                <tr>
                                    <td>10:00</td>
                                    <td>Inglés</td>
                                    <td>Religión</td>
                                    <td>Inglés</td>
                                    <td>Informática</td>
                                    <td>Sociales</td>
                                </tr>
                                <tr>
                                    <td>11:00</td>
                                    <td>Informática</td>
                                    <td>Matemáticas</td>
                                    <td>Sociales</td>
                                    <td>Ed. Física</td>
                                    <td>L. Española</td>
                                </tr>
                                <tr>
                                    <td>12:00</td>
                                    <td>Religión</td>
                                    <td>Sociales</td>
                                    <td>Artes</td>
                                    <td>Inglés</td>
                                    <td>Matemáticas</td>
                                </tr>
                            </table>
                        </article>                
                    </div>
                </div>
            </section>
        </main>
        <!-- <section class="modals-container">
            <article class="modal-perfil">
                <div class="perfil-izquierda">
                    <h4 class="titulo-perfil">Estudiante</h4>
                    <figure class="perfil-estudiante perfil-profesor">
                        <img src="../imagenes/recursos/perfil-femenino.jpg" alt="img-perfil">
                    </figure>
                    <div class="perfil-izquierda-abajo">
                        <h6>Grado</h6>
                        <h4>1ro A </h4>
                    </div>
                </div>
                <div class="perfil-derecho">
                    <div class="perfil-derecha-arriba">
                        <h2>Emmy Garcia</h2>
                        <p>1-22-0500</p>
                    </div>
                    <div class="datos datos1">
                        <h3>Email</h3>
                        <p>emmyMaria@gmail.com</p>
                    </div>
                    <div class="datos">
                        <h3>Fecha de Nacimiento</h3>
                        <p>10-05-2009</p>
                    </div>
                    <div class="datos">
                        <h3>Genero</h3>
                        <p>Femenino</p>
                    </div>
                    <div class="datos">
                        <h3>Dirección</h3>
                        <p>Calle 16 de Agosto #01</p>
                    </div>
                    <div class="datos">
                        <h3>Telefono</h3>
                        <p>809-101-0000</p>
                    </div>
                </div>
            </article>
            <article id="modal-recordatorio">
                <div id="calendar-container">
                    <div id="calendar-header">
                        <button id="mes-anterior">Anterior</button>
                        <h2 id="mes-reciente"></h2>
                        <button id="mes-siguiente">Siguiente</button>
                    </div>
                    <table id="calendario">
                        <thead>
                            <tr>
                                <th>Dom</th>
                                <th>Lun</th>
                                <th>Mar</th>
                                <th>Mié</th>
                                <th>Jue</th>
                                <th>Vie</th>
                                <th>Sáb</th>
                            </tr>
                        </thead>
                        <tbody id="calendario-body"></tbody>
                    </table>
                </div>
                <div id="modal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2 id="modal-date"></h2>
                        <textarea id="note-text"></textarea>
                        <button id="save-note">Guardar Nota</button>
                        <button id="delete-note">Eliminar Nota</button>
                    </div>
                </div>
            </article>
        </section> -->
    </div>
    <script src="../js/ca-ho.js"></script>
    <script src="../js/scroll_calificacion.js"></script>
    <script src="../js/modales.js"></script>
    <script src="../js/menu.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>