<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="../imagenes/recursos/logo-jes.png">
</head>
<body>
    <div class="body-container">
        <header>
            <div class="header-container">
                <figure class="jesIMG-container">
                    <img src="../imagenes/recursos/logo-jes.png" alt="JES-LOGO">
                </figure>            
                <div class="jes-titulo">
                    <h2>JES</h2>
                    <h3>Junior Explorers System</h3>                
                </div>
                <nav class="nav-container">
                    <ul>
                        <li class="nav-perfil">
                            <a href="#" class="li-perfil"><figure><img src="../imagenes/recursos/perfil-masculino-2.jpg" alt="perfil"></figure></a>
                        </li>
                        <li class="nav-menu">
                            <a href="#" class="menu"><figure><img src="../imagenes/iconos/menu.svg" alt="menu"></figure></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main-container main-curso-material">              
            <section class="materiales-container">
                <div class="cabecera-agg-material">
                    <form action="#">
                        <select name="materias-agg" id="materias-agg">
                            <option value="todas" selected>Todas</option>
                            <option value="math">Matematicas</option>
                            <option value="l_española">L. Española</option>
                        </select>
                        <select name="ver-clases-enviada" id="ver-clases-enviada">
                            <option value="Pendientes" selected>Pendientes</option>
                            <option value="enviadas">Enviadas</option>
                        </select>
                    </form>
                </div>
                <table class="tabla-de-materias">
                    <tr class="contenido-materias">
                        <td class="td-fondo-material">
                            <figure class="fondo-material">
                                <img src="../imagenes/recursos/Auditorio-img-fondo.jpg" alt="fondo-de-material">
                            </figure> 
                        </td>
                        <td class="td-flex-material">
                            <h2><span>Tarea 1 -</span> Investigación de los calculos numericos</h2>
                            <a href="#">Click</a>
                        </td>
                        <td>
                            <figure class="info-material-container">
                                <img src="../imagenes/iconos/informacion.svg" alt="información">
                            </figure>
                        </td>
                    </tr>
                </table>
            </section>
        </main>
        <section class="modals-container">
            <article class="modal-perfil">
                <div class="perfil-izquierda">
                    <h4 class="titulo-perfil">Profesor</h4>
                    <figure class="perfil-estudiante perfil-profesor">
                        <img src="../imagenes/recursos/perfil-masculino-2.jpg" alt="img-perfil">
                    </figure>
                    <div class="perfil-izquierda-abajo">
                        <h6>Curso Asignado</h6>
                        <h4>1ro</h4>
                    </div>
                </div>
                <div class="perfil-derecho">
                    <div class="perfil-derecha-arriba">
                        <h2>Miguel Enrique Martinez</h2>
                        <p>1-22-0500</p>
                    </div>
                    <div class="datos datos1">
                        <h3>Email</h3>
                        <p>MiguelEnm@gmail.com</p>
                    </div>
                    <div class="datos">
                        <h3>Cedula</h3>
                        <p>031-0071899-9</p>
                    </div>
                    <div class="datos">
                        <h3>Genero</h3>
                        <p>Masculino</p>
                    </div>
                    <div class="datos">
                        <h3>Dirección</h3>
                        <p>Calle 16 de Agosto #01</p>
                    </div>
                    <div class="datos">
                        <h3>Telefono</h3>
                        <p>809-101-0000</p>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <script src="../js/menu-profesor-a.js"></script>
    <script src="../js/perfil-modal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>